@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: #eef1ed;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: fixed;
  background: #0d100c
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
